details.container {
    position: relative;
    overflow: hidden;
    overflow: auto;
    overflow-x: hidden;

    transition: var(--nordstar-duration-short) ease-in-out color;

    summary {
        display: flex;
        min-height: 1em;
        width: 100%;
        position: relative;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;

        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;

        transition: var(--nordstar-duration-short) ease-in-out color;

        &:hover,
        &:focus-visible {
            color: hsl(var(--nordstar-color-primary));
        }

        &:focus-visible {
            outline: var(--nordstar-border-width-small, 1px) solid hsl(var(--nordstar-color-primary));
            outline-offset: 0.2em;
            border-radius: var(--nordstar-border-radius, 0.45rem);
        }

        &::-webkit-details-marker {
            display: none;
        }

        &:before {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            content: '+';
            height: 0.5em;
            width: 0.5em;
            margin-right: var(--nordstar-layout-block-padding-quarter, calc(var(--nordstar-layout-block-padding, 1rem) / 4));

            font-weight: 700;
            font-size: 1.15em;

            transform: rotate(0);
            transform-origin: 0.25em 50%;
            transition:
                var(--nordstar-duration-short) ease-in-out border-color,
                calc(var(--nordstar-duration-short) / 2) ease-in-out color,
                calc(var(--nordstar-duration-short) / 2) ease-out transform;

            border-width: var(--nordstar-border-width-large);
            border-style: solid;
            border-color: transparent transparent transparent transparent;
        }

        .label {
            display: contents;
            color: inherit;
        }
    }

    &[open] {
        & > summary {
            color: hsl(var(--nordstar-color-primary));

            &:before {
                content: '';

                transform: rotate(90deg);

                border-color: transparent transparent transparent hsl(var(--nordstar-color-primary));
                color: transparent;
            }
        }

        .content {
            padding-top: var(--nordstar-layout-block-padding-quarter, calc(var(--nordstar-layout-block-padding, 1rem) / 4));
        }
    }
}
