# Code
/docs/                      filfat@hotmail.se
/packages/core/             filfat@hotmail.se
/packages/components/       filfat@hotmail.se

# Documentation
/SECURITY.md                filfat@hotmail.se

# Tooling
/plop/                      filfat@hotmail.se
/.husky/                    filfat@hotmail.se
/.vscode/
/.eslintrc                  filfat@hotmail.se
/.lintstagedrc.mjs
/.nvmrc                     filfat@hotmail.se
/.npmrc                     filfat@hotmail.se
/.renovaterc                filfat@hotmail.se
package.json
/plopfile.js                filfat@hotmail.se
/tsconfig.json              filfat@hotmail.se
