.primary {
    color: var(--color-accent-primary);
}

.secondary {
    color: var(--color-accent-secondary);
}

.container {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}
