{
    "$schema": "https://json.schemastore.org/eslintrc.json",
    "root": true,
    "env": {
        "browser": false,
        "es2024": true,
        "node": true
    },
    "extends": [
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "plugin:react-hooks/recommended",
        "plugin:jsx-a11y/recommended"
    ],
    "plugins": ["react", "react-hooks", "unused-imports", "import", "@typescript-eslint", "jsx-a11y", "prettier"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module",
        "project": [
            "./tsconfig.json",
            "./tsconfig.test.json",
            "./packages/**/tsconfig.json",
            "./packages/**/tsconfig.test.json",
            "./docs/**/tsconfig.json"
        ]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
        "consistent-return": "error",
        "import/first": "off",
        "indent": "off",
        "jsx-a11y/alt-text": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "no-mixed-operators": "off",
        "no-unused-vars": "off",
        "no-useless-constructor": "off",
        "prettier/prettier": "error",
        "react-hooks/exhaustive-deps": "off",
        "react-hooks/rules-of-hooks": "error",
        "react/no-children-prop": "off",
        "react/no-find-dom-node": "off",
        "react/no-string-refs": "off",
        "react/prop-types": "error",
        "react/react-in-jsx-scope": "off",
        "react/jsx-uses-react": "off",
        "semi": ["error", "always"],
        "standard/computed-property-even-spacing": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
            "warn",
            { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
        ]
    }
}
