@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-fallback: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, Cantarell,
            'Helvetica Neue', sans-serif;
        --font-sans: 'Montserrat', sans-serif;
        --font-primary: 'Montserrat', sans-serif;

        background: var(--color-background);
        color: var(--color-foreground);
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    }

    #nordstar {
        font-size: 16px;
    }

    body {
        font-family: 'Montserrat', sans-serif;
        color: hsl(var(--color-foreground));
        background-color: hsl(var(--color-background));
    }
}

.sbdocs .sbdocs-preview .docs-story .innerZoomElementWrapper .sb-story.sb-unstyled {
    max-height: 38rem;
    height: min-content;
    width: 100%;
}

.sbdocs .sbdocs-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.5em;
    margin-bottom: 1rem;
}
.sbdocs :is(.sbdocs-title, h2)::after {
    content: '.';
}

.sbdocs h2 {
    text-transform: lowercase;
    color: hsl(var(--color-foreground-secondary));
    font-weight: 400;
    font-size: 1.95em;
    letter-spacing: unset;
}
.sbdocs h3 {
    font-size: 1.35em;
    font-weight: 800;
    text-transform: lowercase;
}

.sbdocs .sbdocs-preview {
    border-width: var(--border-width-large, .2rem);
    border-color: hsl(var(--color-background-highlight, 0 0% 15%));

    margin: .75rem 0;
}
.sbdocs button {
    padding: var(--layout-block-padding-half, 0.5rem) var(--layout-block-padding, 1rem);

    text-transform: uppercase;
    font-weight: 700;
}
