body {
    color: var(--color-foreground, #fefefe);
    background-color: var(--color-background, #000);
}

.sbdocs .sbdocs-preview {
    border-width: var(--border-width, 0.2rem);
    border-color: var(--color-background-highlight, #262626);
}
.sbdocs button {
    padding: var(--layout-block-padding-half, 0.5rem) var(--layout-block-padding, 1rem);

    text-transform: uppercase;
    font-weight: 700;
}
