.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: min(100vw, 100%);
    width: min(100dvw, 100%);
    max-width: 100vw;
    max-width: 100dvw;
}

.content {
    width: calc(100% - calc(var(--layout-page-spacing) * 2));
    max-width: min(var(--layout-page-width), 100vw);
    margin: var(--layout-page-spacing);
    font-family: var(--font-body);
    color: var(--color-foreground);
}
