.container {
    display: block;
    font-family: var(--font-heading);
    font-size: var(--size-text-body);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-foreground-secondary);
}
