.container {
    margin: 0;

    &:not(:empty):after {
        content: '.';
        font-size: 0.75em;
        line-height: 1;
    }

    &.h1 {
        font-weight: 800;
        font-size: 4.25rem;
        line-height: 0.9;
        text-transform: uppercase;
    }
    &.h2 {
        font-weight: 400;
        font-size: 2.75rem;
        line-height: 1.1;
        letter-spacing: 0.02rem;
        text-transform: lowercase;
        color: var(--color-foreground-secondary);
    }
    &.h3 {
    }
    &.h4 {
    }
}
