.header {
    position: sticky;
    top: 0;

    .logo {
        display: contents;
        font-size: 1.5em;
        font-weight: 800;
        line-height: 1;
    }
}

.footer {
    display: grid;
    grid-auto-flow: column;
    gap: var(--layout-section-spacing);
}
