.header {
    display: flex;
    flex-direction: column;
    gap: calc(var(--layout-section-spacing) / 3);
    padding-bottom: var(--layout-section-spacing);
    width: 52rem;
    max-width: 100%;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--layout-block-padding);

    @media (min-width: 950px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .block {
        p {
            margin-top: calc(var(--layout-block-padding) / 4);

            font-size: 0.95em;
        }

        a {
            width: 100%;
        }
    }
}
