.container {
    -webkit-appearance: none;
    appearance: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--layout-block-padding-half);

    width: -moz-fit-content;
    width: fit-content;
    padding: var(--layout-block-padding-half) var(--layout-block-padding);

    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-style: solid;

    text-align: center;
    text-decoration: none;

    transition:
        250ms ease-in-out background-color,
        250ms ease-in-out border-color,
        250ms ease-in-out color,
        250ms ease-in-out filter;

    &:not(:disabled, [aria-disabled='true']) {
        cursor: pointer;
    }

    &:is([data-color='default'], [data-color='foreground']) {
        --button-accent: var(--color-foreground);
        --button-foreground: var(--color-background);
    }
    &[data-color='primary'] {
        --button-accent: var(--color-accent-primary);
        --button-foreground: var(--color-foreground); // TODO: Get the contrasting color from the theme.
    }
    &[data-color='secondary'] {
        --button-accent: var(--color-accent-secondary);
        --button-foreground: var(--color-foreground); // TODO: Get the contrasting color from the theme.
    }

    &[data-variant='solid'] {
        background-color: var(--button-accent);
        border-color: var(--button-accent);
        color: var(--button-foreground);

        &:is(:hover, :active) {
            filter: brightness(50%);
        }
    }

    &[data-variant='outline'] {
        background-color: transparent;
        border-color: var(--button-accent);
        color: var(--button-accent);

        &:is(:hover, :active) {
            background-color: var(--button-accent);
            color: var(--button-foreground);
        }
    }

    [data-content] {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-weight: 700;
        font-family: var(--font-heading);
    }

    [data-icon] {
        display: contents;

        & > svg,
        & > img {
            display: block;

            width: 1rem;
            aspect-ratio: 1 / 1;

            stroke-width: 1rem;
        }
    }

    :is([data-icon], [data-icon] svg) {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
}
