header.container {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 0 var(--layout-page-spacing);
    margin-bottom: var(--layout-page-spacing-half);

    border-radius: 0;
    border: none;
    border-bottom: var(--border-width) solid var(--color-background-highlight);

    -webkit-backdrop-filter: saturate(220%) blur(8px);
    backdrop-filter: saturate(220%) blur(8px);
    background-color: rgba(0, 0, 0, 0.75);

    .content {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        gap: var(--layout-block-padding);

        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;

        border: none;

        @media (min-width: 950px) {
            grid-template-columns: 1fr auto;
        }

        .logo {
            font-size: 1.15em;
            font-weight: 800;
            text-transform: uppercase;

            img {
                height: 100%;
            }
        }

        .nav {
            display: flex;
            align-items: center;
            gap: var(--layout-block-padding);

            width: 100%;
            padding: var(--layout-page-spacing-half) 0;

            -webkit-user-select: none;
            user-select: none;
            overflow-x: auto;
            touch-action: auto;
            scroll-behavior: smooth;

            @media (min-width: 950px) {
                overflow-x: unset;
                justify-content: flex-end;
                gap: var(--layout-block-padding-double);
            }

            .overflow-shadow {
                animation: scroll-shadow-inset linear;
                animation-timeline: scroll(self inline);
            }

            .link {
                cursor: pointer;

                font-size: 1.05em;
                line-height: 1;
                font-weight: 800;
                text-transform: uppercase;
                word-break: keep-all;
                white-space: nowrap;

                transition: color ease-in-out var(--duration-short);

                &:is(:hover, :active) {
                    color: var(--color-accent-primary);
                }
            }
        }
    }
}

@keyframes scroll-shadow-inset {
    from {
        box-shadow: inset -10px 0px 10px -10px var(--header-scroll-shadow, rgb(155 155 155 / 0.75));
    }
    to {
        box-shadow: inset 10px 0px 10px -10px var(--header-scroll-shadow, rgb(155 155 155 / 0.75));
    }
}
