.container {
    --block-padding: 1rem;
    --block-border-width: 0.1rem;
    --block-border-radius: 0.65rem;

    --layout-page-width: 1200px;
    --layout-page-spacing: 1.25rem;

    --color-background: #000000;
    --color-background-highlight: #262626;
    --color-foreground: #fefefe;
    --color-foreground-secondary: #828282;

    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-primary);
}
