html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    max-width: 100vw;
    font-weight: 400;

    // Touch actions
    touch-action: pan-y;
    overscroll-behavior: none auto;

    // Deal with font rendering
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smooth: always;
    text-rendering: optimizeLegibility;
    text-size-adjust: auto;
    font-size-adjust: ex-height ch-width from-font;
}

:root {
    --color-background: #000000;
    --color-background-highlight: #262626;
    --color-foreground: #fefefe;
    --color-foreground-secondary: #828282;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p,
a {
    font-size: inherit;
    font-weight: inherit;
}
