html,
body {
    margin: 0;
    padding: 0;

    width: 100vw;
    max-width: 100vw;
    font-weight: 400;

    // Touch actions
    touch-action: pan-y;
    overscroll-behavior: none auto;

    // Deal with font rendering
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: auto;
    font-smooth: always;
    font-family:
        var(--font-body, sans-serif),
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Ubuntu,
        Cantarell,
        'Helvetica Neue',
        sans-serif;

    color: var(--color-foreground);
    background-color: var(--color-background);
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p,
a {
    font-size: inherit;
    font-weight: inherit;
}

p {
    line-height: 1.215;
}
