@import 'the-new-css-reset/css/reset.css';

html,
body {
    margin: 0;
    padding: 0;
}

body {
    --fallback-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Helvetica Neue',
        sans-serif;

    width: 100%;
    max-width: 100%;
    font-weight: 500;

    // Touch actions
    touch-action: pan-y;
    overscroll-behavior: none auto;

    // Deal with font rendering
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: auto;
    font-smooth: always;
    font-family: var(--font-body, var(--fallback-font));

    color: var(--color-foreground);
    background-color: var(--color-background);
}

* {
    box-sizing: border-box;
}

:is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    padding: 0;
    line-height: normal;
}

:is(p, a, b, i, strong, em) {
    font-size: inherit;
    line-height: inherit;
}

p {
    line-height: 1.215;
}

b,
strong {
    font-weight: 700;
}
