.container {
    &:is([data-variant='outline'], :not([data-variant])) {
        border-width: var(--nordstar-border-width-small);

        &:not(:is([data-color='primary'], [data-color='secondary'])) {
            &[data-color='default'] {
                --color: hsl(var(--nordstar-color-foreground-highlight));
                --color-highlight: hsl(var(--nordstar-color-foreground-highlight));
            }

            &[data-color='foreground'] {
                --color: hsl(var(--nordstar-color-foreground-highlight));
                --color-highlight: hsl(var(--nordstar-color-foreground));
            }

            & {
                border-color: var(--color);
            }

            .label {
                color: var(--color);
            }

            :is(:focus, :focus-within) > & {
                border-color: hsl(var(--color-highlight));
            }
        }

        &[data-color='primary'] {
            border-color: hsl(var(--nordstar-color-primary));
        }
        &[data-color='secondary'] {
            border-color: hsl(var(--nordstar-color-secondary));
        }

        &:is([data-color='primary'], [data-color='secondary']) {
            opacity: 0.85;

            :is(:focus, :focus-within) > & {
                opacity: 1;
            }
        }

        &:is(:not(:has(.input[value=''], .input:not([value]))), :focus, :focus-within):not(:has(.input:invalid)) {
            opacity: 1;

            &[data-color='default'] {
                border-color: hsl(var(--nordstar-color-foreground));
            }

            .label {
                color: inherit;
            }
        }

        &:has(.input:invalid) {
            opacity: 1;

            border-color: hsl(var(--nordstar-color-error));
            color: hsl(var(--nordstar-color-error));

            .input::placeholder {
                color: hsl(var(--nordstar-color-error));
            }
        }
    }

    &:is([data-variant='solid'], :not([data-variant])) {
        --background: hsl(var(--nordstar-color-foreground));
        --foreground: hsl(var(--nordstar-color-background));

        &[data-color='primary'] {
            --background: hsl(var(--nordstar-color-primary));
            --foreground: hsl(var(--nordstar-color-primary-foreground));
        }
        &[data-color='secondary'] {
            --background: hsl(var(--nordstar-color-secondary));
            --foreground: hsl(var(--nordstar-color-secondary-foreground));
        }

        border-width: var(--nordstar-border-width-small);
        border-color: var(--background);

        color: var(--foreground);
        background: var(--background);
    }

    .input {
        background: transparent;
    }
}
